html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(212, 45%, 89%);
}

.card {
  background-color: hsl(0, 0%, 100%);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  width: 300px;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

.card .qr-img {
  border-radius: 10px;
  max-width: 100%;
}

.card h1,
p {
  text-align: center;
  margin: 15px;
}

.card h1 {
  color: hsl(218, 44%, 22%);
}

.card p {
  color: hsl(220, 15%, 55%);
}
